*{
  box-sizing: border-box;
  
}
body{
  font-family: 'Montserrat', sans-serif;
}
header{
  min-width: 1200px;
  max-width: 1920px;
  height: 1012px;
  background-image:url(./img/section-1\(header\).jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.content_logo{
  width: 180px;
    height: 120px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.logoH{
  font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    text-align: left;
    margin-left: -45px;
  }
  .logoText{
    font-size:  32px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 20px;
  }
  .logoTextSpan{
    color: #18cfab;
    font-weight: 700;
  }
.header_content{
  height: 120px;
  min-width: 1200px;
  background-color: rgba(94, 93, 88, 0.6);
}
.header_content_item{
  padding-bottom: 49px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 21px;
  line-height: 24px;
color: rgba(255, 255, 255, 0.6);
font-weight: 700;
}


.content_container{
  height: 120px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content_item:hover{
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
}
svg{
  margin-left: 21px;
  fill:rgba(255, 255, 255, 0.6) ;
justify-content: center;
width: 21px;
height: 21px;
cursor: pointer;
position: absolute;
}
svg:hover{
  fill: #18cfab;
}
.mainContentFirst{
  display: block;
  text-align: center;
  color: #ffffff;
}
.hamTheme{
  text-align: center;
  margin-top: 264px;
  font-weight: 700;
font-size: 35px;
color: #ffffff;
text-transform: uppercase;
}
.spanTheme{
  color: #18CFAB;
}
.weAreCreative{
  font-weight: 700;
font-size: 78px;
margin-top: 22px;
text-transform: uppercase;
}
.textFirstSlide{
  font-weight: 400;
font-size: 34px;
margin-top: 22px;
color:#D4D4D4;
}
.buttonBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 134px;
}
button{
  width: 169px;
  height: 63px;
  border:none;
  /*border-top: 4px solid ;
  */border-radius:4px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.buttonFirst{
  box-shadow: 0px -5px #ffffff;
  margin-right: 26px;
  background-color: #18CFAB;


}
.buttonSecond{
  box-shadow: 0px -5px #ffffff;
  background: #00CBF6;
}
.flex_items{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  

}
.first_img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 482px;
height: 377px;

background: #1C2A33;
border-top: 10px solid #ffffff;
border-bottom: 10px solid #ffffff;
}
.first_svg{
  display: block;
  margin: 0 auto;
  width: 61px;
height: 100px;
}
.first_svg_text{
  text-align: center;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
margin-top: 47px;
cursor: pointer;
color: #18CFAB;
}
.second_img{
  width: 482px;
  height: 377px;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #18CFAB;
}
.second_svg{
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 78px;
}
.second_svg_text{
  font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
margin-top: 58px;
cursor: pointer;
}
.third_img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 482px;
height: 377px;

background: #1C2A33;
border-top: 10px solid #ffffff;
border-bottom: 10px solid #ffffff;
}
.third_svg{
  display: block;
  margin: 0 auto;
  width: 62px;
height: 99px;
}
.third_svg_text{
  text-align: center;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
margin-top: 48px;
cursor: pointer;
color: #18CFAB;
}
.four_img{
  width: 482px;
  height: 377px;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #18CFAB;
}
.four_svg{
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 78px;
}
.four_svg_text{
  font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
margin-top: 58px;
cursor: pointer;
}
.title_second_block{
  position: relative;
  font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;
margin-top: 83px;
color: #4E4E4E;
}


.ourServices{
  margin-top: 50px;
}
.headlineLine {
  width: 90px;
  border-width: 1px;
  border-style: solid;
  border-color: #18cfab;
  box-shadow: 18px 5px #18cfab;
  background-color: #18cfab;
  margin-bottom: 72px;
}
.displayNone{
  display: none;
}

/*    TABS   */

.tabs {
  width: 1160px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 91px;
}
.tabs__caption {
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: inherit;
  color: #717171;
}

.tabs__caption:after {
  content: '';
  display: table;
  clear: both;
}
.tabs__caption li {
  width: 191px;
  height: 73px;
  background: #f8fcfe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeef;

}
.tabs__caption li:not(.active) {
  cursor: pointer;
}
.tabs__caption .active {
  background: #18cfab;
  color: #fff;
  position: relative;
  border: 1px solid #18cfab;
}
.tabs__caption li:hover{
  border: 2px solid #18cfab;
}
.tabs__caption .active:before {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 83px;
  right: 0;
  color: #18cfab;
  font-size: 29px;
}
.tabs__content {
  display: none;
  background: #FFF;
  margin-top: 30px;

}
.tabs__content.active {
  display: block;
}
.imgFromTab{
  float: left;
  margin-right: 20px;
}
.textFromTab{
  color: #777777;
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
}
.bacgroud_img{
  display: flex;
  justify-content: center;
  height: 476px;
  background: url(./img/Layer\ 21\ 1.jpg) 0 0/100% 100% no-repeat fixed;
  max-width: 1920px;
  margin-top: 91px;
  margin: 0  auto;
}
.section_content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
text-align: center;
min-width: 1120px;
margin-top: 50px;

}
.section_second_title{
  font-weight: 700;
font-size: 40px;
text-transform: uppercase;
color: #18CFAB;
margin-top: 127px;
margin: 0 auto;
}
.section_second_subtitle{
  display: block;
  font-weight: 400;
font-size: 16px;
line-height: 40px;
margin-top: 12px ;
margin: 0 auto;

color: #D8D8D8;
}
.section_second_btn{
  margin: 0 auto;
  width: 169px;
  height: 63px;
  border:none;
  /*border-top: 4px solid ;
  */border-radius:4px;
box-shadow: 0px -5px #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #18CFAB;
  margin-top: 62px;
  
}
.main_conteiner{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  /* height: 1212px; */
  /* margin-top: 70px; */
  
}
.main_content_items{
   margin-top: 70px;
}
.title_amzing_block{
  position: relative;
  font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;
color: #4E4E4E;
/* margin-top:  */
}
.main_tabs {
  /* min-width: 589px; */
  /* height: 240px; */
  margin: 0 auto;
  margin-bottom: 91px;
   display: flex;
  justify-content: center;
}
.main_tabs__caption .active{
  color: #18cfab;
  position: relative;
  border: 1px solid #18cfab;
}
.main_tabs__caption {
  /* flex-wrap: wrap; */
  width: 589px;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: inherit;
  color: #717171;
}

.main_tabs__caption li {
  /*width: fit-content;
  */height: 58px;
  padding: 14px 16px;
  background: #f8fcfe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeef;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  cursor: pointer;
  transition: 0.3s ;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  -ms-transition: 0.3s ;
  -o-transition: 0.3s ;
}
.main_tabs__caption li:first-child{
  padding: 14px 24px;
}
.main_tabs__caption li:hover{
  border: 1px solid #18cfab;
  color: #18CFAB;
}
.wrapCategory{
  display: flex;
justify-content: flex-start;
flex-wrap: wrap;
  border: none;
  box-sizing: border-box;
  /* margin-bottom: 70px; */
}
.imgHoverBlock{
  display: none;
  background: #E9EDEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 210px;
  position: absolute;
  border-top: 2px solid #18cfab;
}
.imgHoverBlockText{
  font-weight: 700;
font-size: 14.1771px;
line-height: 25px;
text-transform: uppercase;
cursor: pointer;
color: #18CFAB;
}
.imgHoverBlockTextP{
  font-weight: 300;
font-size: 12.1518px;
line-height: 25px;
cursor: pointer;

color: #8A8A8A;
}
.img_hover{
  border: 1px solid #18cfab;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 12.5px;
}
.img_hover_layer{
margin-left: 3px;
  position: relative;
}

.img_hover_layer::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 11px;
  left: 15px;
  top: -11px;
  background: #fff;
}
.img_hover_items{
  margin-bottom: 29px;
  cursor: pointer;
}
.blackFon{
  display: none;
}
.categoryItems:hover .blackFon{
  display: block;
}
.loadMore{
  width: 169px;
  height: 63px;
  border:none;
  /*border-top: 4px solid ;
  */border-radius:4px;
/* box-shadow: 0px -5px #ffffff; */
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  /* margin-top: 76px; */
  
  background-color: #18CFAB;
}
.main_tabs__caption a{
  text-decoration: none;
  color: #717171;

}
.tabs__caption .active {
  background: #18cfab;
  color: #fff;
  position: relative;
  border: 1px solid #18cfab;
}
.categoryItemsSecond{
display: none;
  }
.main_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}
#loadMoreButton{
  margin: 0 auto;
  position: relative;
}
.preloader{
  width: 218px;
  height: 150px;
  margin: 0 auto;
  display: none;
  
}
.main_section{
  margin: 0 auto;
  min-height: 1212px;
  max-width: 1920px;
  background-color: #E9EDEF;;
  background-attachment: fixed;
}
.loadMore::after{
  content: "";
  position: absolute;
  border-bottom: 3px solid #fff;
width: 15px;
left: 11.5px;
top: 31px;

background: #FFFFFF;
}
.loadMore::before{
  content: "";
  position: absolute;
  transform: rotate(90deg);
  border-bottom: 3px solid #fff;
  width: 15px;
  left: 12px;
  top: 31px;
  background: #FFFFFF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.conteiner_grid_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;
  /* position: relative; */
}
.section_grid_portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 35px ;
}
.section_grid_portfolio img{
  width: 263px;
  height: 208px;
  cursor: pointer;
  /* position: relative; */
}
.grid_potrfolio_items{
  position: relative;
}
.descriptionBlock{
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-left: 15px;
}
.descriptionBlock p{
  font-weight: 300;
font-size: 13.991px;
line-height: 39px;


color: #777777;
}
.nameImg{
  cursor: pointer;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  margin-left: 15px;
  transition:0.5s ;
  color: #717171;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
}
.nameImg:hover{
  margin-left: 20px;
  color: #18CFAB;
}
.date_info{
  background-color: #203E38;
  position: absolute;
  width: 70px;
  height: 69px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.date_info p{
  font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #FFFFFF;
}
.date_info:hover{
  background-color: #18cfab;
}
.bkg_img{
  background: url(./img/section-3.jpg) 0 0/100% 100% no-repeat fixed;
max-width: 1920px;
  Height: 853px;
  margin: 0 auto;
}

.what_people_say{
  display: flex;
  justify-content: center;
  margin-top: 98px;
  flex-direction: column;
}
.what_people_say_title{
  color: #fff;
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
text-align: center;
margin-top: 83px;
}
.combined_shape{
  display: flex;
  justify-content: center;
}
.combined_shape img{
  width: 44px;
  height: 30px;
}
.slider{
  height: auto;
  /* display: flex; */
}
.people_things{
  margin-top: 69px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* display: none; */
}
.people_subtitle{
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
text-align: center;


color: #BBBBBB;
}


.top-item{
  display: flex;
  justify-content: center;
  text-align: center;
}


.slick-track{
  display: flex;  
}

.slider-for  {
  overflow: hidden;
}
.slider-for{
  width: 1160px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}
.slider-nav .slick-slide.slick-center{
  margin-top: -5px;
}
.slider-nav{
max-width: 483px;
overflow: hidden;
position: relative;
}
.top-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
}
.testimonialsText{
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 36px;
  color: #BBBBBB;
}
.testimonialsName{
  font-weight: 700;
font-size: 16px;
line-height: 27px;
text-transform: uppercase;
margin-top: 36px;
color: #18CFAB;
}
.testimonialsPosition{
  color: #bbbbbb;
  font-size: 13px;
  text-align: center;
  margin-bottom: 19px;
  margin-top: 20px;
}
.testimonialsUserImg{
  /* margin-bottom: 70px; */
}
.draggable{
  padding: 0;
}
/* Стрелка */
/* .slick-arrow{
  font-size: 0;
  position:absolute;
  top:15px ;
  width: 31px;
height: 31px;
}
/* Стрелка влево */
.myArrowLeft{
  position:absolute;
  top:15px ;
  width: 31px;
height: 31px;
  background: url(./img/Preview\ copy1.svg) 0 0/ 100% no-repeat;
left: -25px;

}
/* Стрелка вправо */
.myArrowRight{
  position:absolute;
  top:15px ;
  width: 31px;
height: 31px;
  background: url(./Preview\ copy1.svg) 0 0/ 100% no-repeat;
  right: -50px;
} 
.myArrowLeft:hover{
  background-color: #18cfab;
}

.myArrowRight:hover{
     background-color: #18cfab;
}

.gallery_of_the_best{
  height: 1366px;
  display: flex;
  flex-direction: column;
}
.wrapForMasonryImg{
  margin: 0 auto;
}
.wrapLeft{
  width: 375px;
  height: 1000px;
  margin-right: 15px;
  float: left;
}
.wrapCenter{
  width: 375px;
  height: 1000px;
  margin-right: 15px;
  float: left;
}
.wrapRight{
  width: 375px;
  height: 1000px;
  float: left;
}
.grid{
  width: 1200px;
}
.grid-item {
  display: inline-block;
  width: 120px;
  height: 92px;
  border: 1px solid #ffffff;
}

.grid-item--width2 { width: 180px; }
.grid-item--height2 { height: 168px; }

.grid-item--width3 { width: 370px; }
.grid-item--height3 { height: 260px; }

.grid-item--width4 { width: 363px; }
.grid-item--height4 { height: 290px; }


.grid-item--height5 { height: 380px; }
.grid-item--height6 { height: 247px; }
.grid-item--height7 { height: 373px; }


 #loadMoreButton{
  margin: 0 auto;
}
.footer_conteiner{
 max-width: 1922px;
height: 121px;
margin: 0 auto;
background: #22353F;
display: flex;
justify-content: center;
align-items: center;
}
.footer_text{
  font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
}
.footer_theHam{
  color: #18CFAB;
}

.slider-container {
  width: 1160px;
  margin: auto;
}
.slider-container-nav{
  width:500px ;
  margin: 0 auto;
  position: relative;
}
.slider-nav-last{
  display: none;
}
.slider-for-last{
  display: none;
}
.testimonialsUserImg{
  margin: 0 auto;
}