body{
  box-sizing: border-box;
}
.background {
  margin: auto;
  max-width: 1366px;
  width: 100%;
  background: url(../img/background\ 1.png) center no-repeat;
  background-size: cover;
  padding: 38px 0 0 0;
}
.container {
  
  font-family: "Roboto";
  width: 1030px;
  margin: auto;
}
/* header */
.title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 8px;
  justify-content: space-between;
}
.title_content {
  text-decoration: none;
  color: #fff;
}
.header_content {
  display: flex;
}
.title-logo {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}
.logo {
  font-weight: 700;
  font-size: 29px;
}
.logo_section {
  font-weight: 700;
  font-size: 18px;
}
/* Main section */
.portfolio {
   margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px 61px;
  text-align: center;
}
.portfolio_item {
  position: relative;
  width: 300px;
  height: 220px;
}
.portfolio_photo {
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0)) 1 100%;
  border-top: none;
  border-bottom: none;
}
.portfolio_title {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}


.details-hover {
  visibility: hidden;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 55px;
  background: #f26522;
  transition: 0.2s;
}
.details_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 16px;
}
.coast-item {
  color: #ffffff;
  font-size: 10px;
}
.coast-item-currency {
  font-size: 20px;
}
.coast_flex {
  margin-top: 29px;
}
.coast_details {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}


/* hovers */
.title_content:hover {
  color: rgba(242, 101, 34, 1);
}
.header_content:hover .header_logo {
  content: url(/img/backgroung\ img.png);
}
.header_content:hover .title {
  color: rgba(242, 101, 34, 1);
}
.portfolio_item:hover .details-hover {
  visibility: visible;
  bottom: 0;
}

.portfolio_title:hover {
  color: rgba(242, 101, 34, 1);
  visibility: visible;
  bottom: 0;
}
/* Pseudo elements */
.coast_details::after {
  display: inline-block;
  margin-left: 16px;
  margin-right: 14px;
  content: "";
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

  .fotter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-top: 90px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
  }