/*conteiner*/

.container {
  margin: 0 auto;
  background-color: rgba(196, 0, 0, 0);
  width: 1283px;
  font-family: Roboto;
  font-style: normal;
}

/*Header*/

.head-title-link {
  width: 334px;
  height: 79px;
  text-decoration: none;
}
.head-title {
  padding-bottom: 38px;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}
.head_logo {
  width: 334px;
  height: 79px;
  padding-bottom: 34px;
}

.color-text {
  color: black;
}
.color-text-end {
  color: aqua;
}

/*nav*/

.nav_bar {
  background-color: #35444f;
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
}

.nav_item {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border-left: 1px solid white;
  padding-left: 38px;
  padding-right: 38px;
  transition: 0.5s;
}
.nav_item:last-child {
  border-right: 1px solid white;
}
.nav_item:hover {
  background-color: #222f3a;
}

/*Main*/

.main_logo_img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 48px;
}
.logo {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
/* aside*/
.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  width: 340px;
  height: 100%;
}
.aside-navigation { /*2class*/
  text-decoration: none;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  list-style-type: none;
  transition: 1s;
}
.navigation-links:hover {
  background-color: #dbdbdb;
  padding-left: 62px;

}
.navigation-links:hover .aside-navigation{
  color: black;
}

.navigation-links {/*1 classs*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 79px;
  padding-left: 44px;
  transition: 1s;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 54px;
  padding-top: 37px;
}
.main-text {
  width: 885px;
  height: 120px;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 34px;
}

.main-text-second {
  padding: 0;
}
/*footer*/
.footer_nav {
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.footer_nav_item {
  display: flex;
  align-items: center;
  list-style: none;

  height: 69px;
  font-size: 28px;
  line-height: 28px;
}
.footer_navigation_item {
  text-decoration: none;
  color: black;
}
.copyrigt {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 24px;
  margin-right: 30px;
}
.footer-menu-item {
  margin-left: 30px;
}
.footer_navigation_item:hover {
  color: rgba(49, 129, 166, 1);
  border-bottom: 1px solid rgba(49, 129, 166, 1);
}
.logo:hover img{
  transform: scale(1.3);

}
.logo_img{
  transition: 1s;
  position: relative;
  float: left;
}