
 *{
   box-sizing: border-box;
 }
 body{
  background: url(/img/Фон\ 1.png) no-repeat center center fixed;
  background-size: cover;

 }

.conteiner{
  font-family: "Ubuntu";
  align-items: center;
  width: 100%;
  height: 100vh;
  margin:auto;
}
/* header */
.header_content{
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0.4);
  height: 58px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_login{
  text-decoration: none;
  color: #fff;
}
.header_ico{
  margin-right: 25px;
}
.header_ico_hover path{
  transition: .5s;
}
.header_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 14px;
  font-size: 14px;
  margin-right: 79px;
}
.header_title{
  color: #fff;
  text-decoration: none;
  margin-left: 79px;
  font-weight: 700;
  font-size: 22px;
  transition: 0.5s;
}
.header_icons{
  position: relative;
}

.header_icons::after{
  position: absolute;
  left: 147px;
  top: 3px;
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.header_registr{
  margin-left: 27px;
}
.header_title:hover{
  color:#3CB878
}
.header_login:hover{
  color:#3CB878
}
.header_login_hover:hover{
  color: #fff  ;
  opacity: 0.4;
}
.header_ico_hover:hover path{
fill: #3CB878;
}
/* main section */
.main_content{
  display: flex;
  align-items: center;
  height:calc( 100% - 58px );
  justify-content: center;
}
.content{
  position: relative;
  width: 444px;
  background: #FFFFFF;
}
.wrapper{
  
  margin: auto;
  width: 324px;
  padding-top: 31px;
}
.section{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.btn_facebook, .btn_google{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
height: 48px;
background: #305DB8;
border-radius: 2px;
border: none;
transition: 0.5s;
cursor: pointer;
}
.button{
  margin-top: 15px;
  color: #FFFFFF;
  position: relative;
}
.btn_google{
background: #DF4A32;
}
.button_position{
  display: flex;
  justify-content: space-between;
}
.form_subtitle{
  color: rgba(60, 184, 120, 1);
  font-weight: 400;
  font-size: 14px;
  transition: 0.5s;
  
}
.form_title{
  
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  
}

.facebook::after{
  display: block;
  content: "";
  position: absolute;
  left: 48px;
  top: 10px;
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
}
.google::after{
  display: block;
  content: "";
  position: absolute;
  left: 49px;
  top: 10px;
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
}
.google{
  margin-right: 27px;
}
.google_img{
  margin-left: 7px;
}
.facebook{
  margin-right: 22px;
}
.facebook_img{
  margin-left: 14px;
}
.form_title::before{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 33px;

  background: #3CB878;
}
.btn_facebook:hover{
  background: #022263;
}
.btn_google:hover{
  background: #AB1F09;
}
.form_subtitle:hover{
  color: #01813F;
  text-decoration:underline;
}
.section_form{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.or-line{
  position: relative;
  font-size: 14px;
  color: #848484;
  margin-bottom: 12px;
}
.or-line::before{
  content: "";
  position: absolute;
 width: 154px;
  height: 1px;
  right: 15px;
  top: 8px;
  background: #F2F2F2;
}

.or-line::after{
  content: "";
  position: absolute;
 width: 154px;
  height: 1px;
  left: 15px;
  top: 8px;
  background: #F2F2F2;
}
.box_data{
  margin-top: 12px;
  color: #F2F2F2;
  
}
.box_data_item{
  padding-left: 20px;;
  width: 100%;
height: 44px;
border: 1px solid #F2F2F2;
border-radius: 4px;
margin-bottom: 15px;

} 
.box_data_item:last-child{
  margin-bottom: 12px;
}
.box_data_item:focus{
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
  
  
}
.label{
  cursor: pointer;


}
.text{
  color: #434343;
  font-size: 14px;
  margin-left: 11px;
  align-items: center;
}
.color_text{
  color: rgba(60, 184, 120, 0.8);;
}
.checbox{
  display:  none;
}
.castom{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
}
           /* второй вариант */           
/* .castom::before{
  display: block;
  content: "";
  position: absolute;
  width: 7px;
  height: 0px;
  left: 0px;
  top: 12px;
  transform: rotate(45deg);
  background-color:#3CB878 ;
  
  border: 1px solid #3CB878;


}
.castom::after{
  display: block;
  content: "";
  position: absolute;
  width: 15px;
  height: 0px;
  left: 3px;
  top: 8px;
  transform: rotate(-55deg);
  background-color:#3CB878 ;
  
  border: 1px solid #3CB878;
 

}*/
.castom::before{
  display: inline-block;
  vertical-align: middle;
  opacity: 0  ;
content: "";
position: absolute;
top: -3px;
left: 5px;
width: 7px;
height: 16px;
border-right: 2px solid #3CB878;
border-bottom: 2px solid #3CB878;
transform: rotate(40deg);
}
.color_text:hover{
  color: rgba(1, 129, 63, 1);
  text-decoration:underline;

}
.checbox:checked + .castom::before{
  opacity: 1;
}

.submit_btn{
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 38px;
  padding-block: 16px;
  border: none;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  transition: .5s ;
}
.submit_btn:hover{
  background: #01813F;
}
.castom:hover:before
{
  border-color: #01813F;
}
